<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated a4xWoT -->
      <package
            uri="http://diuf.unifr.ch/softeng"
            class="xwot.XwotPackage"
            genModel="model/a4xWoT.genmodel"/>
   </extension>

</plugin>
